html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.1 );
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem 5rem;
    width: 100%;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333333;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-links a {
    color: #333333;
    text-decoration: none;
    font-size: 1.2rem;
}

#hero {
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/img/portada.jpeg);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    padding-top: 2rem;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.cta-button {
    background-color: #da4646;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 1rem;
    padding: 1rem 2rem;
}

.cta-button:hover {
    background-color: #d43333;
}

#propiedades {
    padding: 2rem;
}

#propiedades h2 {
    padding-bottom: 1rem;
    text-align: center;
}

.propiedades-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.propiedad-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.1 );
    overflow: hidden;
}
.propiedad-card img {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.propiedad-card h3 {
    color: #333333;
    padding: 0 1rem;
}

.precio {
    color: #da4646;
    font-weight: bold;
    padding: 0 1rem; 
}

.descripcion {
    color: #646262;
    padding: 0 1rem;
}

.propiedad-card button {
    background-color: #202020;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    margin: 1rem;
    padding: .5rem 1rem;
}

.propiedad-card button:hover {
    background-color: #080808;
}

#contacto {
    background-color: #ffffffe1;
    padding: 4rem 2rem;
}

#contacto h2 {
    margin-bottom: 2rem;
    text-align: center;
}

form{
    display: flex;
    gap: 1rem;
    margin: 0 auto;
    max-width: 600px;
    flex-direction: column;  
}

input, textarea {
    border: 1px solid #e6e2e2e0;
    border-radius: 5px;
    padding: .5rem;
}

textarea {
    height: 150px;
    resize: vertical;
}

form button {
    background-color: #da4646;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    padding: 1rem;
}

form button:hover {
    background-color: #d43333;
}

footer {
    background-color: #333333;
    color: #ffffff;
    padding: 1rem;
    text-align: center;   
}

@media screen and (min-width: 400px) {
    nav {
        flex-direction: column;
        padding: 1rem;
    }
    .nav-links {
        flex-direction: column;
        text-align: center;
        margin-top: 1rem;
        gap: 1rem;
    }
}